/*タイトル*/
.edit-title {
  width: 8rem;
  font-size: 20px;
  font: bold;
  padding-top: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.edit-title-text {
  color: #d2d2d2;
  text-align: center;
}

/*テーブル*/
.data-table-wrapper {
  text-align: center;
  margin: 25px 50px;
}

.data-table {
  overflow: auto;
  width: 100%;
  height: 70vh;
}

.data-table table {
  border-spacing: 0;
  background: rgba(0, 0, 0, 0);
}
.data-table td {
  white-space: nowrap;
  border-bottom: 1px solid #999;
  background: rgba(0, 0, 0, 0);
  padding: 5px;
  min-width: 100px;
}

.data-table th.column-cell {
  white-space: nowrap;
  position: sticky;
  top: 0;
  padding: 5px;
  color: #d2d2d2;
}

.data-table th.item-title-cell {
  white-space: nowrap;
  position: sticky;
  left: 0;
  padding: 5px;
  color: #d2d2d2;
}

.data-table th:first-child {
  white-space: normal;
  word-wrap: break-word;
  max-width: 300px;
  min-width: 200px;
  padding: 5px;
}

.data-table .item-title-cell {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.item-title-cell a {
  color: #d2d2d2;
}
.data-table td.normal-cell {
  color: #d2d2d2;
}
.data-table td.red-cell {
  color: #fa4b4b;
}
.data-table td.green-cell {
  color: #00ffb2;
}

.data-table .column-cell {
  border-bottom: 1px solid #999;
}
.data-table .add-button-cell {
  border: none;
}

.data-table tr:first-child th:first-child:not(.data-header) {
  z-index: 1;
}
.data-table tr:first-child th.data-header {
  z-index: 2;
}

.data-table th:not(.add-button-cell) {
  background: rgba(28, 36, 54, 1);
}

.add-button-cell {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/*スクロールバーのデザイン*/

.data-table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.data-table::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.data-table::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}

/*追加ボタンのデザイン*/
.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}
.btn-circle i {
  position: relative;
  top: -1px;
}
.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.2rem;
}

/*ソート用のボタンのデザイン*/
:active,
:focus {
  outline: none;
}

.sort-buttons button {
  border: none;
  position: relative;
  display: inline-block;
  padding: 0.6em 0em 0.6em 1.52em;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.sort-buttons button:after {
  position: absolute;
  top: calc(50% - 5px);
  right: 8px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  transform: rotate(135deg);
  transition: 0.3s ease;
}
.sort-buttons button.active:after {
  border-color: #ccc;
}
.sort-buttons button.active.asc:after {
  top: calc(50% - 3px);
  transform: rotate(315deg);
}
.sort-buttons button.active.desc:after {
  top: calc(50% - 5px);
  transform: rotate(135deg);
}

.box-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit-box {
  width: 6rem;
  height: 3.5rem;
  vertical-align: middle;
  color: #d2d2d2; /*文字色*/
  background: #4d638c;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
  font-size: large;
  line-height: 1rem;
  position: absolute;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 50px;
}

.green-explain {
  color: #00ffb2;
}

.red-explain {
  color: #fa4b4b;
}
