.columnContainer {
    justify-content: flex-start;
    width: 700px;
    height: 600px;
    left: 10%;
    display: flex;
    justify-content: flex-start;
}
.background {
    background: radial-gradient(51.08% 69.33% at 32.29% 57.71%, rgba(24, 244, 244, 0.2) 0%, rgba(0, 178, 255, 0.148958) 0.01%, rgba(40, 54, 84, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #283654;
    height: calc(100vh - 56px);
    width: 100%;
    margin: 0;
    align-items: flex-start;
    display: flex;
}

.right {
    display: flex;
    justify-content: flex-end;
}
.p{
    margin : 10% ;
    width:600px;
    text-align:center;
}
.textcolor{
    color: #ededed;
    margin: 3%;
}
.radar-title {
  margin: 0 auto;
  width: 9em;
  font-size: 28px;
  font: bold;
  padding-top: 20px;
  border-bottom: 1px solid #d2d2d2;
}
.radar-title-text {
  color: #d2d2d2;
  text-align: center;
}

.showDetail {
  color: aqua;
}
