.columnContainer {
    width: 40%;
    height: 40%;
    left: 5%;
    /* display: flex; */
    position: sticky;
    align-items: center;
    flex: 1;
}

body {
    /* overflow-x: hidden; */
    background-color: #222222;
}

.container {
    height: 100%;
    display: flex;
}

.right{
    flex: 1;
}

.p{
    justify-content: center;
    margin : auto ;
}
.textcolor{
    color: #ededed;
    margin: 3%;
}
.radar-title {
  margin: 1% auto;
  width: 9em;
  font-size: 28px;
  font: bold;
  padding-top: 20px;
  border-bottom: 1px solid #d2d2d2;
}
.radar-title-text {
  color: #d2d2d2;
  text-align: center;
}

/* ここから */
.box{
    background:skyblue;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}


.showDetail {
    
}

.item{
    justify-content: flex-end;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.button {
    position: sticky;
    max-height: 30px;
}
.data-container{
    display: flex;
    margin: 10px;
}

.datatitle{
    margin: 1% auto;
    width: 12em;
    font-size: 18px;
    font: bold;
    padding-top: 20px;
    border-bottom: 1px solid #d2d2d2;
}
/* ここまで */
