.columnContainer {
    position: sticky;
    width: 745px;
    height: 628px;
    left: 75px;
    top: 60px;
}
.body {
    background: radial-gradient(51.08% 69.33% at 32.29% 57.71%, rgba(24, 244, 244, 0.2) 0%, rgba(0, 178, 255, 0.148958) 0.01%, rgba(40, 54, 84, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #283654;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.right {
    display: flex;
    justify-content: flex-end;
}
.p{
    
    width:800px;
    text-align:center;
    background-color:#eee;
}
